<head>
	<title>pH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='stylesheet.css')}}"></script>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li>Heading 1</li>
            <li>Heading 2</li>
            <li>Heading 3</li>
        </ul>
    </div>
    <div class="content-pane">
        <h1>Hey there, this is an awesome  header.</h1>
        <p></p>
    </div>
</body>
